<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Playbook by timwilki</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="css/github-light.css" media="screen">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">Informatics Playbook</h1>
      <h2 class="project-tagline">WCMC Informatics Team Playbook</h2>
      <a href="https://github.com/timwilki/playbook" class="btn">View on GitHub</a>
      <a href="https://github.com/timwilki/playbook/zipball/master" class="btn">Download .zip</a>
      <a href="https://github.com/timwilki/playbook/tarball/master" class="btn">Download .tar.gz</a>
    </section>


    <section class="main-content">
      <ul  class="nav">
        <li><a href="index.html">Welcome</a></li>
        <li><a href="index.html">The Process</a></li>
        <li><a href="scoping.html">Project Scoping</a></li>
        <li><a href="#">The Estimate</a></li>
        <li><a href="#">Development</a></li>
        <li><a href="#">Technology</a></li>
        <li><a href="#">Tools</a></li>
        <li><a href="#">Glossary</a></li>
      </ul>
